<p style="text-align: center; font-size: 18px;">Upload Questions and Activities</p>
<div class="upload">
  <form>
    <mat-card>
      <p style="font-size: 14px; font-weight: bold;">Upload Question and Question Groups</p>
      <label><span style="float: left; width: 250px; font-size: 14px;margin-top: 5px;">Attach Question Answers:</span>
        <input type="file" (change)="selectFile($event)" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #fileInput>
        <button type="button" (click)="fileInput.click()" class="button1">Pick file</button>
      </label>
      <mat-card class="fileDisplay" *ngIf="fileName" style="margin-left:0% !important; width:90% !important; margin-right:0%  !important;font-size: 14px;">
        <span>{{fileName}}</span> <span style="float:right;" [ngStyle]="{'color':coloring}">{{status}}</span>
      </mat-card>
      <br><br>
      <label><span style="float: left; width: 250px;font-size: 14px;margin-top: 5px;"> Attach Question Groups:</span>
        <input type="file" (change)="selectFile1($event)" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #fileInput1>
        <button type="button" (click)="fileInput1.click()" class="button2">Pick file</button><br>
      </label>
      <mat-card class="fileDisplay" *ngIf="fileName1" style="margin-left:0% !important; width:90% !important; margin-right:0%  !important;font-size: 14px;">
        <span>{{fileName1}}</span> <span style="float:right;" [ngStyle]="{'color':coloring1}">{{status1}}</span>
      </mat-card><br>
      <button [disabled]="!selectedFiles || !selectedFiles1" (click)="Fileupload()" class="buttons">Upload</button>
    </mat-card><br><br>
    <mat-card>
      <p style="font-size: 14px; font-weight: bold;">Upload Activities</p>
      <label><span style="float: left; width: 250px;font-size: 14px;margin-top: 5px;">Attach Activities:</span>
        <input type="file" (change)="selectFile2($event)" style="display: none;" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #fileInput2>
        <button type="button" (click)="fileInput2.click()" class="button3">Pick file</button>
      </label>
      <mat-card class="fileDisplay" *ngIf="fileName2" style="margin-left:0% !important; width:90% !important; margin-right:0%  !important;font-size: 14px;">
        <span>{{fileName2}}</span> <span style="float:right;" [ngStyle]="{'color':coloring2}">{{status2}}</span>
      </mat-card>
      <br><br>
      <button [disabled]="!selectedfiles2" (click)="Fileupload2()" class="buttons">Upload</button>
    </mat-card>
  </form>
</div>