<p style="text-align: center; font-size: 18px;">Verify Tasks</p>
<div *ngIf="undefined === restItems && !connection" class="spinner">
  <mat-spinner [diameter]=40></mat-spinner>
</div>
<div *ngIf="default" class="default">There are no tasks to be reviewed at the moment</div>
<div *ngIf="undefined !== restItems && !default">
  <br>
  <div class="container" *ngFor="let item of restItems.allSubmittedTasks | paginate: { id: 'foo',itemsPerPage: 5, currentPage: p }">
    <img *ngIf="item.profileUrl" alt="loading..." src={{item.profileUrl}} style="width:100%;" />
    <img *ngIf="!item.profileUrl" src="../../assets/icons/baseline-account_circle-24px.PNG">
    <button (click)="openview()" (click)="passId(item.taskID,item.userID)" class="buttons">View</button>
    <div class="time-left" >
      <span class="left">Name</span>
      <span class="middle">:</span>
      <span class="right">{{item.name}}</span>
    </div>
    <div class="time-left">
      <span class="left">Title</span>
      <span class="middle">:</span>
      <span class="right">{{item.taskTitle}}</span>
    </div>
    <div class="time-left">
      <span *ngIf="item.status == 'processing'" class="time-left">
        <span class="left">Status</span>
        <span class="middle">:</span>
        <span class="right">Under Review</span>
      </span>
      <span class="time-right"><span style="float: left; width: 105px; font-weight: bold">Submission Date</span>{{item.submissionDate
        | date:'short' }}</span>
    </div>
  </div>
  <pagination-controls id="foo" *ngIf="restItems.allSubmittedTasks.length > 0" (pageChange)="p = $event" class="pageFooter"></pagination-controls>
</div>
<div *ngIf="connection" class="exists">Check your Internet Connection...</div>
