.full-screen-modal .mat-dialog-container {
    max-width: none;
  }

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container {
    padding-bottom: 20px;
    padding: 10px;
    margin: 10px 0;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 5px 5px #888888;
}
.container:hover {
    background-color: #FFF;
}

.spinner {
    stroke: #f6b319;
    padding-top: 15%;
    padding-left: 45%;
}

.buttons {
    background-color: #f6b319;
    height: 27px;
    border-radius: -8px;
    border: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    float: right;
    box-shadow: 5px 5px #888888;
  }
  button:disabled,
  button[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
 

.darker {
    border-color: #ccc;
    background-color:white;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.pageFooter {
    text-align:center;  
}

.exists {
    color:red;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
  }
