.full-screen-modal .mat-dialog-container {
    max-width: none;
  }

body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container {
    border: 1px solid #dedede;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    margin: 10px 0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    
}
.container:hover {
    background-color: #FFF;
}

.spinner {
    stroke: #f6b319;
    padding-top: 15%;
    padding-left: 45%;
}

.buttons {
    background-color: #f6b319;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: right;
  }
  button:disabled,
  button[disabled]{
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
 

.darker {
    border-color: #ccc;
    background-color:lightgray;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    color: #999;
    float: right;
    margin-right: auto;
    max-width: inherit;
    word-wrap: break-word;
    margin-left: inherit;
    font-size: 12px;
    margin-top: 10px;
}

.time-left {
    margin-right: auto;
    max-width: inherit;
    word-wrap: break-word;
    font-size: 12px;
    margin-left: inherit;
    margin: 0px;
}

.pageFooter {
    text-align:center;  
}

.exists {
    color:red;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
  }
