.sidenav-container {
  height: 100%;
  background-color: #274c7c;
}

.sidenav {
  width: 200px;
  background: #274c7c !important;
}
.mat-drawer-container {
   background-color: white; 
  color:#274c7c;
}
.mat-toolbar.mat-primary {
  background: #274c7c !important;
  color: #fff;
}


.logo
{
    height: 60%;
    width: 80%;
    margin-top: 7px;
    margin-bottom: 30px;
    margin-left: 15px;
} 

.mat-toolbar-row, .mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  display: none !important;
}
.toolbar {
  display: none;
}
.logout
{
  background-color: #f6b319;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-left: 77%;
    cursor: pointer;
}
