.sidenav-container {
  height: 100%;
  background-color: #274c7c;
}

.sidenav {
  width: 200px;
  background: #274c7c !important;
}
.mat-drawer-container {
   background-color: white; 
  color:#274c7c;
}
.mat-toolbar.mat-primary {
  background: #274c7c !important;
  color: #fff;
}
/* a:hover {
  color: red;
}
a:active {
  color: yellow;
} */
.logo
{
    height: 15%;
    width: 100%;
    margin-left: -16px;
    margin-top: 7px;
} 

/* LOGOUT BUTTON CSS */
.logout
{
  background-color: #f6b319;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-left: 77%;
    cursor: pointer;
}
/* .logout:hover {
  background-color: skyblue;
  
} */