<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'" [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-nav-list>
      <img class="logo" src="../../assets/icons/QshalaLogo.PNG" alt="success" />
      <a mat-list-item style="color:white;" [ngStyle]="{'background-color':flag4 == true ? 'lightgray' : '#274c7c' }" (click)="display4()"  [routerLink]="['./verifyTasks']">Verify
        Tasks</a>
      <a mat-list-item style="color:white;" [ngStyle]="{'background-color':flag1 == true ? 'lightgray' : '#274c7c' }" (click)="display()" [routerLink]="['./performance']">View
        Performance</a>
      <a mat-list-item style="color:white;" [ngStyle]="{'background-color':flag3 == true ? 'lightgray' : '#274c7c' }" (click)="display3()" [routerLink]="['./feedbacks']">View
        Feedbacks</a>
      <a mat-list-item style="color:white;" [ngStyle]="{'background-color':flag2 == true ? 'lightgray' : '#274c7c' }" (click)="display2()" [routerLink]="['./upload']">Upload
        Questions</a>
      <a mat-list-item style="color:white;" (click)="logout()">Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
