
.login {
    margin-top: 80px;
    height: 450px;
    max-width: 600px;
    margin-left: auto;
	margin-right: auto;
}

.material-icons {  
	margin-left: 2%;
	margin-bottom: 10px;
}
.otp-btn {
	margin: 30px 30px 30px 30px;
    margin-left: 10%;
	width: 80%;
	font-size:30px; 
	height: 55px;
	color:white;
	border-radius: 10px;
	background-color:#274c7c;
}

:host {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	height: 16%;
    width: 57%;
    margin-left: 15%;
	margin-right: auto;
	padding: 10px;
}
div.input {
	position: relative;
}
.form {
    display: block; 
    position: relative;
    flex: auto;
    min-width: 0;
	width: 245px !important;
	margin-left:15px;
}
.inputField
{
	width: 90%;
    font-size: 20px;
   
}
div.input label {
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	left: 10px;
	background: white;
	padding: 5px 2px;
}

div.input input {
	padding: 10px 20px;
	font-size: 25px;
	outline: 0;
}

div.input {
	margin-top: 20px;
}