<div *ngIf="!restItems && !connection" class="spinner">
  <mat-spinner [diameter]=40></mat-spinner>
</div>
<div *ngIf="restItems">
  <div>
      <i (click)=" onNoClick()" class="fa close">&#xf00d;</i>
    <img *ngIf="restItems.profileUrl" src={{restItems.profileUrl}} alt="Avatar" class="images" />
    <img *ngIf="!restItems.profileUrl" src="../../assets/icons/baseline-account_circle-24px.PNG" class="images"><br>
    <div><b>Name: {{restItems.name}}</b></div>
    <div>Date: {{restItems.submissionDate | date:'short' }}</div>
    <div>Group: {{restItems.group}}</div>
  </div>

  <div class="text-layout">
    <h3>{{restItems.taskTitle}}</h3>
    <pre class="notes">{{restItems.description}}</pre>
  </div>
  <div class="ImageViewer">
    <h3 style="text-align: center">Submitted Image</h3>
    <ngx-image-viewer [src]="images" [(config)]="config" [(index)]="imageIndexOne" (customEvent)="handleEvent($event)"></ngx-image-viewer>
    <div><br>
      <form novalidate #f="ngForm" (ngSubmit)="sendRestItems()">
        <input placeholder="Give point out of 1000  " type="text" class="form-control" name="scores" [(ngModel)]="model.scores" #scores="ngModel"
          max="1000" pattern="^([0-9]{0,3}|1000)" required>
        <button type="submit" [disabled]="scores.errors || !disabled" class="buttons">Submit</button>
        <div class="form-control-feedback" *ngIf="scores.errors && (scores.dirty || scores.touched)">
          <p *ngIf="scores.errors.pattern" [ngStyle]="{'color':'red'}">score value must be between 0 to 1000</p>
        </div>
      </form><br>
      <span [ngStyle]="{'color':coloring}">{{status}}</span></div>
  </div>
</div>
<div *ngIf="connection" class="exists">Check your Internet Connection...</div>