.chip {
    display: inline-block;
    padding: 0 20px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 20px;
    background-color: white;
}
.buttons {
    background-color: #f6b319;
    width: 100px;
    height: 23px;
    border-radius: 7px;
    border: none;
    padding: -8px;
    margin-top: 4px;
    cursor: pointer;
    margin-left: 4px;
  }
button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.exists {
    color:red;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
  }


  .spinner {
    stroke: #f6b319;
    padding-left: 50%;
  }

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.left-layout {
    text-align: center;
}
.right-layout {
    text-align: left;
}
.text-layout {
    height:100%;
    width:90%;
    overflow: auto;
}
.ImageViewer{
 height:320px;
 width: 95%;
 overflow: auto;
}
.left-layout {
    text-align: left;
    margin-top: 18%;
}
.right-layout1 {
    text-align: left;
    margin-top: 25%;
}
.close {
    font-size:24px;
    float:right;
    margin-top: -25px;
    margin-right: -20px;
    cursor: pointer;
}
.images {
    float: right;
    height: 5%;
    width: 7%;
    border-radius: 60px;
}
.notes {
    font-family: 'Chathura', sans-serif !important;
    font-size: 12px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding:0px;
    margin:0px;
    text-align: left;
    max-height:300px;
    text-overflow: auto;
}
.close {
    float: right;
}

.container {
    padding: 2px 16px;
}

.left1 {
  float: left;
  width: 58%;
}

.right1 {
  float: right;
  width: 42%;
}
.tasktitle {
  margin-left: 40%;
  margin-top: 23px;
}
@media only screen and (min-height: 800px)
{
  .tasktitle {
    margin-left: 40%;
    margin-top: 17px !important;
  }
}
