<h2 style="text-align: center">User Feedbacks</h2>
<div *ngIf="spinner && !connection"  class="spinner"><mat-spinner [diameter]=100></mat-spinner></div>
<div *ngIf="!spinner">
<div  id="infinite-scroll" snInfiniteScroll (scrollEnd)="onScrollEnd()" [offset]="230" [disabled]="disabled" class="foo" *ngIf="undefined !== restItems">
<div class="container" *ngFor="let item of restItems">
  <img src="/assets/icons/baseline-account_circle-24px.svg" alt="Avatar" style="width:100%;" />
  <figcaption><b>{{item.userName}}</b></figcaption>
  <p class="feedbacks">{{item.comment}}</p>
  <span class="time-right">{{item.createdTime | date:'medium'}}</span>
</div>
<!-- <div>{{restItems | json}}</div> -->
<!-- <pagination-controls id="foo" (pageChange)="p = $event" class="pageFooter"></pagination-controls> -->
</div>  
</div> 
<div *ngIf="connection" class="exists">Check your Internet Connection...</div>

