<p style="text-align: center; font-size: 18px;">View Performance</p>
<div class="topnav">

        <div class="search-container">
          <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
            <input type="text" (keyup.backspace)="update()" placeholder="Enter Mobile No..." [(ngModel)]="values" name="mobileNo">
            <button (click)="onClickMe()" (keyup.enter)="onClickMe()"><i class="fa fa-search"></i></button>
          </form>
          <p *ngIf="flag3" class="allready" >User does not exists</p>
        </div>
</div>
<div *ngIf="flag2">
<div class="center" *ngIf="restItems == undefined && !connection" class="spinner"><mat-spinner [diameter]=40></mat-spinner></div>


<div *ngIf="restItems" class ="container">
     <div style="font-size:14px;float:left;margin-top: 2.8%;margin-left: 2%;">
      <div>
          <span class="left">Name</span>
          <span class="middle">:</span>
          <span class="right">{{restItems.userName}}</span>
      </div>
      <div>
          <span class="left">Class</span>
          <span class="middle">:</span>
          <span class="right">{{restItems.standard}}</span>
      </div>
      <div>
          <span class="left">School</span>
          <span class="middle">:</span>
          <span class="right">{{restItems.school}}</span>
      </div>

     </div>
  <img style = "float:right;width:8%;height:10%;border:0px;border-radius: 80px;" *ngIf="restItems.profileUrl" src={{restItems.profileUrl}} alt="Avatar"  />
  <img style = "float:right;width:8%;height:10%;border:0px;border-radius: 80px;" *ngIf="!restItems.profileUrl" src="../../assets/icons/baseline-account_circle-24px.PNG" />
</div>

<table *ngIf="restItems"  id="customers" [mfData]="" #mf="mfDataTable" [mfRowsOnPage]="5">
    <tr>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="name">WEEK</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">POINT SCORED</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">LEVEL</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="age">TASK SCORE</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">WEEK SCORE</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="city">TOTAL SCORE</mfDefaultSorter>
        </th>
    </tr>
    <tr  *ngFor="let item of restItems.weeklyReports; let i = index">
        <td style="width: 10%; text-align: center;">{{item.weekNumber}}</td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.pointsScored}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.level}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.taskScore}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.weekScore}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.totalScore}}</mfDefaultSorter></td>
    </tr>

    </table><br><br>

    <!-- <button (click)="refresh()" class="search">Check other</button> -->
</div>
<div *ngIf="flag1" class="default">Enter the phone number of registered user to view their performance</div>
<div *ngIf="connection" class="exists">Check your Internet Connection...</div>


