
<div class="topnav">
        
        <div class="search-container">
          <form action="/action_page.php">
            <input type="number"  [(ngModel)]="values" placeholder="Search.." name="search">
             <img (click)="onClickMe()" (keyup.enter)="onClickMe()" src="../../assets/icons/baseline-search-24px.svg" id="myImg">
          </form>
        </div> 
</div>    
<div *ngIf="flag2">
<div class="center" *ngIf="restItems == undefined && !connection" class="spinner"><mat-spinner [diameter]=100></mat-spinner></div>


<div *ngIf="restItems" class ="container">
  <ul style = "list-style-type: none;">
    <li><b>Name: {{restItems.userName}}</b></li>
    <li><b>Class: {{restItems.standard}}</b></li>
    <li><b>School: {{restItems.school}}</b></li>
  </ul>
</div>

<table *ngIf="restItems"  id="customers" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <tr>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="name">WEEK</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">POINT SCORED</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">LEVEL</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="age">TASK SCORE</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="email">WEEK SCORE</mfDefaultSorter>
        </th>
        <th style="width: 10%; text-align: center;">
            <mfDefaultSorter by="city">TOTAL SCORE</mfDefaultSorter>
        </th>
    </tr>
    <tr  *ngFor="let item of restItems.weeklyReports; let i = index">
        <td style="width: 10%; text-align: center;">{{item.weekNumber}}</td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.pointsScored}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.level}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.taskScore}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.weekScore}}</mfDefaultSorter></td>
        <td style="width: 10%; text-align: center;"><mfDefaultSorter by="email">{{item.totalScore}}</mfDefaultSorter></td>
    </tr> 
    <!-- <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot> -->
    </table><br><br>
    <div class="center" *ngIf="checker">Mobile Number Doesn't exists</div>
    <!-- <button (click)="refresh()" class="search">Check other</button> -->
</div>
<div *ngIf="flag3" class="exists">User Does not exists</div>
<div *ngIf="connection" class="exists">Check your Internet Connection</div>

     
    <!-- <span *ngIf="flag1" class="searchbar">
    <input style="float:left;" [(ngModel)]="values" placeholder="Enter Mobilel Number" id = "mobileno" required>
    <button  (click)="onClickMe()"  >Search</button>
    </span> -->
    
