/* You can add global styles to this file, and also import other style files */

body {
     margin: 0;
     font-family:Arial;
}
::-webkit-scrollbar {
    display:auto;
}

::ng-deep .mat-accent .mat-input-element {
    caret-color: #f6b319 !important;
}