/* You can add global styles to this file, and also import other style files */


body {
     margin: 0;
     font-family:Arial;
}
::-webkit-scrollbar {
    display:auto;
}

::ng-deep .mat-accent .mat-input-element {
    caret-color: #f6b319 !important;
}

/* .img-container button.default{
    bottom: 15px !important;
    display: inline;
}

button.default:nth-of-type(1){
    left: 0px;
}
button.default:nth-of-type(2){
    left: 45px;
}
button.default:nth-of-type(3){
    left: 280px;
}
button.default:nth-of-type(4){
    float:right;
} */
